{% extends 'base.html' %}
{%load static%}
{% block title %}Каталог{% endblock %}

{% block content %} 

<div class="container">
		<form method="POST">
			<div class="input-group mb-3">
			  <input id ='search' type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
			  <button id = 'searchButton' class="btn btn-outline-secondary btn-secondary text-white" type="button" id="button-addon1">Поиск &rArr;</button>
			</div>
		</form>
		
		<div class ="row" id = 'cardAr'>
		
			{% for workout in workout_list %}
			
			<div class="card w-75 col-md-3">
			  <div class="card-body">
				<h5 class="card-title"> {{ workout.name }} </h5>
				<p class="card-text">{{ workout.description| truncatewords:20 }} </p>
				<a href="{{ workout.get_absolute_url }}" class="btn btn-primary">Подробнее &raquo </a>
			  </div>
			</div>
			
			{% endfor %}
			</div>
		</div>
	</div>	

{% block search_script %}	
<script src="{% static 'js/catalog.js' %}"></script>
 {% endblock %}
{% endblock %}